.container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  .content {
    height: 90%;
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    h3 {
      text-align: center;
    }

    p {
      margin-left: 5%;
    }
  }

  .home-nav {
    color: black;
    font-weight: bold;
    left: 5%;
  }
}
