<div class="container">
  <div class="input-explanation">Filter by keywords</div>
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix id="icon">search</mat-icon>
    <input matInput type="search" (change)="filterArticles($event)" />
  </mat-form-field>

  <div class="results-label">Results: {{ shownArticles.length }}</div>
  <hr align="left" />
  <div class="articles-container">
    <div class="card" *ngFor="let article of shownArticles">
      <img src="{{ article.imageUrl }}" alt="article image" />
      <div class="card-content">
        <div class="date-label">
          <mat-icon inline="true">calendar_today</mat-icon>
          {{ article.updatedAt.toLocaleDateString() }}
        </div>
        <h3>{{ article.title }}</h3>
        <p>{{ article.summary }}</p>
        <button
          [routerLink]="['/articles/', article.id]"
          mat-button
          class="home-nav"
        >
          Read more
          <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
