.image {
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
}
.container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: white;

  .content {
    height: 90%;
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 3px 4px 12px -5px #4b5452;
    h3 {
      text-align: center;
    }

    p {
      margin-left: 5%;
    }
  }

  .home-nav {
    color: black;
    font-weight: bold;
    left: 5%;
  }
}
