<div class="container">
  <div class="input-explanation">Filter by keywords</div>
  <input type="text" />
  <div class="results-label">Results:</div>
  <hr align="left" />
  <div class="articles-container">
    <div class="card" *ngFor="let article of articles">
      <img src="{{ article.imageUrl }}" alt="article image" />
      <div class="card-content">
        <div class="date-label">
          <mat-icon inline="true">calendar_today</mat-icon>
          {{ article.updatedAt.toLocaleDateString() }}
        </div>
        <h3>{{ article.title }}</h3>
        <p>{{ article.summary }}</p>
        <button mat-button class="home-nav">
          Read more
          <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
